@font-face {
  font-family: 'iconfont';  /* project id 868371 */
  src: url('//at.alicdn.com/t/font_868371_mqql7zc3wi.eot');
  src: url('//at.alicdn.com/t/font_868371_mqql7zc3wi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_868371_mqql7zc3wi.woff') format('woff'),
  url('//at.alicdn.com/t/font_868371_mqql7zc3wi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_868371_mqql7zc3wi.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  /*font-size:56px;
  color: red;*/
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

